*{
    margin: 0px;
    padding: 0px;
}
html{
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
}
body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: black;
}
.header{
    height: 34%;
    width: 100%;
    background-color: white;
    background-size: 100%;
    background: url("../image/bg-head.jpg")no-repeat;

}

.header .logo{
    margin-left: 100px;
    margin-top: 20px;
    height: 100px;
    width: 100px;
    float: left;
}
.nav{
    margin-top: 2px;
    margin-right:30px;
    height: 50%;
    float: right;
    display:flex;
    opacity: 0.5;
}
.nav ul {
    margin: auto;
    display:inline;
    vertical-align: center;
}
.nav li {
    display:inline;
}
.nav li a {
    font-size: x-large;
    font-family: 宋体;
    color: black;
    list-style: none;
    padding: 10px 10px;
    text-decoration: none;
    font-weight: bold;
}
.nav li a:hover {
    background-color: black;
    color: white;
    font-size: x-large;
    font-weight: bold;
    padding: 10px 10px;
}

.neck{
    width: 100%;
    height: 7%;
    background-color: black;
}
.neck .trip{
    font-size: 15px;
    color: white;
    text-align: center;
}
.neck #trip{
    font-family: "Times New Roman";
    font-size: 18px;
    color: cornflowerblue;
    text-align: center;
}
.three{
    height: 24%;
    width: 100%;
    background-color: white ;
}
.three p{
    text-align: center;
    color: white;
    font-size: 24px;
    line-height:125px;
    font-family: 幼圆;
}
.shanghai{
    background:url("../image/beijing.jpg");
    background-size: 100%;
    height: 90%;
    width: 120px;
    float: left;
    margin: 5px 10px 5px 5px;
}
.beijing{
    background:url("../image/beijing.jpg");
    background-size: 100%;
    height: 90%;
    width: 120px;
    float: left;
    margin: 5px 10px 5px 5px;
}
.wuhan{
    background:url("../image/wuhan.jpg");
    width: 120px;
    float: left;
    height: 90%;
    background-color: black;
    margin: 5px 5px 5px 5px;
    background-size: 100%;
}
.chengdu{
    background:url("../image/chengdu.jpg");
    height: 90%;
    width: 120px;
    float: left;
    margin: 5px 5px 5px 5px;
    background-size: 100%;
}
.kunming{
    background:url("../image/kunming.jpg");

    background-size: 100%;
    height: 90%;
    width: 120px;
    float: left;
    margin: 5px 5px 5px 5px
}
.xian{

    background:url("../image/kunming.jpg");

    background-size: 100%;
    height: 90%;
    width: 120px;
    float: left;
    margin: 5px 5px 5px 5px
}
.weiwan{
    background-color: black;
    background-size: 100%;
    height: 90%;
    width: 120px;
    float: left;
    margin: 5px 5px 5px 5px
}
.weiwan p{
    font-size: 10px;
    color: white;
}
.four{
    height: 8%;
    width: 100%;
    background-color: #ced8e4;
}
.four h6{
    color: #4c4c4c;
    font-size: 10px;
    text-align: center;
}
.four p{
    color: #4c4c4c;
    font-size: 10px;
    text-indent: 25px;
    padding: 1px 180px 2px 180px;
    text-align: left;
}
.five{
    height: 11%;
    width: 100%;
    background-color: #4c4c4c;
}
.six{
    height: 7%;
    width: 100%;
    background-color: #e5e5e5;
}
.six p{
    text-align: center;
    color: #4c4c4c;
    font-size: 30px;
    font-family: "Times New Roman";
    line-height: 50px;

}
.footer{
    height: 9%;
    width: 100%;
    background-color: #000000;
}
.footer p{
    color: #ced8e4;
    font-family: "Times New Roman";
    font-size: 12px;
    text-align: center;
    line-height: 40px;
}
.footer h5{
    color: #ced8e4;
    font-family: 幼圆;
    font-size: 12px;
    text-align: center;
}
